@model MVC_Tienda.EMPRESA

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>EMPRESA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EMP_RUC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMP_RUC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMP_NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMP_NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMP_MISION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMP_MISION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMP_VISION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMP_VISION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMP_TELF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMP_TELF)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_EMP }) |
    @Html.ActionLink("Back to List", "Index")
</p>
